*{
    margin: 0;
    padding: 0;
}


.wrapper{
    background-color: black;
    margin: 0px;
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-rows: 60px auto 40px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.first{
    width: 40px;
    height: 25px;
    border: 2px solid red;
}
.first img{
    width: 40px;
    height: 40px;
}
.topGrid{
    height: 61px;
}
.leftGrid{
    width:91px;
}
.rightGrid{
    width: 87px;
}
.corners{
    display: flex;
    align-items: center;
    justify-content: center;
}

.horlist, .horlist1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    list-style: none;
    font-size: x-large;
}

.horlist li a{
    color: white;
    text-decoration: none;
}
.horlist1{
    margin-top: 12px;
}

.horlist1 li a{
    color: white;
    text-decoration: none;
    /* border: 2px solid red; */
}

.horlist1 li a:visited{
    padding: 4px;
    border: none;
    background-color: gray;
}
